# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
pubspec.lock

# Android Studio / IntelliJ
.idea/
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Env / claves
.env
.env.*
*.keystore
*.jks
